Django>=4.0,<5.0
gunicorn
psycopg2-binary  # If you're using PostgreSQL
dj-database-url  # If using DATABASE_URL for environment-based DB config
whitenoise  # For static file management in production
